/**
 * Different box
 */
.box{
	border: 1px solid #eee;
	box-shadow: 2px 2px 1px #eee;
	background: #fff;

	//box inside a box
	.box{
		margin-top:0;
		margin-bottom:0;
	}


	//padding
	//padding-no by default
	&--padding-narrow{
		padding: 8px;
	}
	&--padding-normal{
		padding: 16px;
	}
	&--padding-wide{
		padding: 24px;
	}



	//bg
	//bg-white by default
	&--bg-dark{
		background: #F5F3F7;
	}
}

.section-padding{
	padding-top:32px;
	padding-bottom:32px;
}