/**
 * Forms
 */

.input-number--with-buttons{
	position: relative;

	margin-top: 13px;

	input,
	label{
		display: inline-block;
		float: left;
		width: 3em;
	}

	input{
		margin:0;
		padding:0;
		text-align: center;

		height: 25px!important;
		width: 25px!important;
	}

	.btn{
		position: absolute;
		top: 0;
		right:0;

		//hide font
		text-indent: -9999px;

		width: 20px;
		height: 20px;
		padding: 0;
		border-radius: 100%;

		background-image: url('../images/sprite.png');
		background-repeat: no-repeat;
		background-position: -3px -269px;

		color: #fff;

		&--plus{
			right: -20px;
			z-index: 999;
			background-position: -3px -297px;
		}
	}
}