body .prop_social{
	text-align: right;
	margin-top: -20px;
	a{
		border-radius: 2px;
		text-align: center;
	}
	
}
.company_headline .header_social a, .prop_social_single a, .prop_social a {
    padding: 5px 0px 0px 0px;
    width: 30px;
    height: 30px;
}